
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

html {
  scroll-behavior: smooth;
}


body {
  overflow-x: hidden;
  max-width: 100vw;
}


#root {
  max-width: 100vw;
}

.overflow-container {
  overflow-x: hidden;
  width: 100%;
}